<%= render "layouts/header" %>

<div class="header-lifestyle">
<%= image_tag "lifestyle.png" %>
</div>

<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <li>fqfqfqf</li>
          <li>fqfqfqf</li>
          <li>fqfqfqf</li>
        </div>
    </div>
</div>

<!-- <div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="..." alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    <h1>L'Univers</h1>
<p>Find me in app/views/univers/presentation.html.erb</p>
<h1>L'Univers</h1>
<p>Find me in app/views/univers/presentation.html.erb</p>
<h1>L'Univers</h1>
<p>Find me in app/views/univers/presentation.html.erb</p>
<h1>L'Univers</h1>
<p>Find me in app/views/univers/presentation.html.erb</p>
  </div>
</div> -->