<div class="well well-lg col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
		<p>Justified button groups
Make a group of buttons stretch at equal sizes to span the entire width of its parent. Also works with button dropdowns within the button group.

Handling borders
Due to the specific HTML and CSS used to justify buttons (namely display: table-cell), the borders between them are doubled. In regular button groups, margin-left: -1px is used to stack the borders instead of removing them. However, margin doesn't work with display: table-cell. As a result, depending on your customizations to Bootstrap, you may wish to remove or re-color the borders.
IE8 and borders
Internet Explorer 8 doesn't render borders on buttons in a justified button group, whether it's on <a> or <button> elements. To get around that, wrap each button in another .btn-group.

See #12476 for more information.
With <a> elements

Just wrap a series of .btns in .btn-group.btn-group-justified.</p>

	...
</div>
</div>