<div class="page-header">
	<div class="video-title">
	<script src="http://www.widgeo.net/message.php?msg=Le truc de la Semaine&adult=0&cat=multimedia&big=big&cl=rainbow3&idec=1324717017"></script><br>
<a href="http://www.widgeo.net"><img alt="widgets" border="0" src="http://www.widgeo.net/img/logopm.png" style="position:absolute; bottom:0px; left:0px"></a>
	</div>
	<iframe width="560" height="315" src="//www.youtube.com/embed/ZSnJa-hP8Bk?rel=0" frameborder="0" allowfullscreen></iframe>
	<script src="http://www.widgeo.net/geocompteur/geocity.php?c=geocity1&id=1408847036115&adult=0&cat=multimedia&idec=1324717017"></script><br>
<a href="http://www.widgeo.net"><img alt="web stats" border="0" src="http://www.widgeo.net/img/logopm.png" style="position:absolute; bottom:0px; left:0px"></a>
</div>

<div class="container marketing">

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div id="row1">
		<div class="art1 col-md-4">
			<h2>Mes réalisations</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
			<p><a class="btn btn-default" role="button" <%= link_to "Entrer", realisations_index_path %> </a> </p>
		</div>
	    </div>
	    <div id="row2">
		<div class="art2 col-md-4">
			<h2>Humanitaire</h2>
			<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
			<p><a class="btn btn-default" role="button" <%= link_to "Entrer", humanitaire_index_path %> </a> </p>
		</div>
	</div>
		<div class="col-md-3">
			<div class="fb-like" data-href="https://www.facebook.com/seuletravailpaie?ref=hl" data-width="30" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
		</div>
	</div><!-- /.col-lg-4 -->

<div class="row">
	<div id="row3">
	<div class="art3 col-md-4">
		<h2>Lifestyle</h2>
		<p>Chris Macari a frappé fort en ce début d’année 2013. Sa dernière réalisation, le clip Zoo du rappeur Kaaris est bien partie pour marquer les esprits de manière indélébile. Ce dernier exercice vidéo synchronise parfaitement l’identité présentée par le rappeur de Sevran et la touche artistique du réalisateur antillais.</p>
		<p><a class="btn btn-default" role="button" <%= link_to "Entrer", lifestyle_articles_path %> </a> </p>
	</div>
</div>
<div id="row4">
	<div class="art4 col-md-4">
		<h2>Heading</h2>
		<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	</div>
</div>
	<div class="col-md-3">
		<script type="text/javascript" src="http://www.easypolls.net/ext/scripts/emPoll.js?p=53f94fe6e4b0b67376447ba7"></script><a class="OPP-powered-by" href="https://www.murvey.com" style="text-decoration:none;"><div style="font: 9px arial; color: gray;">survey tools</div></a>
	</div>
</div><!-- /.row -->
</div>