<div class="sondage col-sm-offset-4 col-sm-6 col-xs-offset-4 col-xs-6 col-md-offset-4 col-md-6 col-lg-offset-4 col-lg-6">
		<script type="text/javascript" src="http://www.easypolls.net/ext/scripts/emPoll.js?p=53f94fe6e4b0b67376447ba7"></script><a class="OPP-powered-by" href="https://www.murvey.com" style="text-decoration:none;"><div style="font: 9px arial; color: gray;">SONDAGE</div></a>
	</div>