<div>
<%= image_tag "az.jpg" %>
</div>

<div class="row">
	<div class="text-center">
		<iframe width="560" height="315" src="//www.youtube.com/embed/hxLft_bEdt0?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<script type="text/javascript" src="http://www.easypolls.net/ext/scripts/emPoll.js?p=53fb9f8ee4b0b67376447ed6"></script><a class="OPP-powered-by" href="https://www.murvey.com" style="text-decoration:none;"><div style="font: 9px arial; color: gray;">online surveys</div></a>
</div>