<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <li>Journalisme</li>
          <li>Web documentaire</li>
          <li>Associations</li>
          <li>Hip hop></li> 
        </div>
    </div>
</div>