/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: black;
  font-family: 'Play', sans-serif;
} 

#truc {
  font-family: 'Anton', sans-serif;
}

.navbar {
  border: 0;
  font-family: 'Audiowide', cursive;
  font-size: 20px;
  background-color: #020059;
  color: white !important;
}

. {
  color: black !important;
}

.active {
  background-color: red !important;
}

.art1 {
  background-color: green;
  color: white;
}

#row1 :hover {
  background-color: #FF071F;
  color: white;
}

.art2 {
  background-color: red;
  color: white;
}

#row2 :hover {
  background-color: #FFDE02;
  color: black;
}

.art3 {
  background-color: blue;
  margin-top: 20px;
  color: white;
}


#row3 :hover {
  background-color: #30DB7B;
  color: black;
}

.art4 {
  background-color: purple;
  margin-top: 20px;
  color: white;
}


#row4 :hover {
  background-color: #396CDB;
  color: yellow;
}

.fb-like {
  margin-top: 50px;
  margin-left: 30px;
  background-color: white;
  padding: 20px;

}

.twitter-timeline {
  margin-top: 30px;
  margin-left: 50px;
}


#menu1 {
  color: #FF071F !important;
}

#menu1 :hover {
  background-color: #FF071F;
  color: white;
}




/*
 * Sidebar
 */


/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    font-family: 'Play', sans-serif;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: black;
    color: white;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #E851FF;
  font-size: 15px;
}

.container-fluid {
  background-color: black;
  
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {

}

/* home */

.page-header {
  margin-top: 0px;
  text-align: center;
  color: white;
  border-bottom: solid #0712FF;
  border-top: solid #0712FF;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* articles */

.well-lg {
  margin-top: 100px;
  border: solid white;
}

.contain {
  margin-left: 170px;
  color: white;
}

.media {
  margin-left: 200px;
  margin-right: 50px;
  background-color: white;
}